body {
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 7px solid #f9d48a;
    border-radius: 10%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fdf0d5;
    color: #a1674a;
    border: 8px dotted #fbe3b1;
    }
    
.card:hover {
    background-color: #a3bcf9;
    box-shadow: 10px 10px 10px rgba(36, 36, 36, 0.5);
}
   
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
